{{ page.creationDate | date: "%-d" }}

{% assign m = page.creationDate | date: "%-m" %}
{% case m %}
  {% when '1' %}Січня
  {% when '2' %}Лютого
  {% when '3' %}Березня
  {% when '4' %}Квітня
  {% when '5' %}Травня
  {% when '6' %}Червня
  {% when '7' %}Липня
  {% when '8' %}Серпня
  {% when '9' %}Вересня
  {% when '10' %}Жовтня
  {% when '11' %}Листопада
  {% when '12' %}Грудня
{% endcase %}

{{ page.creationDate | date: "%Y," }}

{% assign w = page.creationDate | date: "%w" %}
{% case w %}
  {% when '0' %}Нд
  {% when '1' %}Пн
  {% when '2' %}Вт
  {% when '3' %}Ср
  {% when '4' %}Чт
  {% when '5' %}Пт
  {% when '6' %}Сб
{% endcase %}
