---
layout: default
---

<article>
  <div>
    {% if page.status %}
      <h1>{{ page.status }}{{ page.title }}</h1>
    {% else %}
      <h1>{{ page.title }}</h1>
    {% endif %}
    <time datetime="{{ page.last_modified_at | date_to_xmlschema }}">{% if page.type != 'pages' %}
      {% if page.creationDate %}
        <div style="font-size: 0.9em">Посаджено {% include locale-creation-date.html %}</div>
      {% endif %}
        <div style="font-size: 0.9em">Востаннє доглянуто {% include locale-date.html %}</div>
      {% endif %}
    </time>
  </div>

  <div id="notes-entry-container">
    <content>
      {{ content }}
    </content>

    <side style="font-size: 0.9em">
      <h3 style="margin-bottom: 1em">Пов'язані нотатки</h3>
      {% if page.backlinks.size > 0 %}
      <div class="backlink-box">
      {% for backlink in page.backlinks %}
      <a class="internal-link" href="{{ site.baseurl }}{{ backlink.url }}{%- if site.use_html_extension -%}.html{%- endif -%}">{{ backlink.title }}</a><br>
      {% endfor %}
      </div>
      {% else %}

      <div style="font-size: 0.9em">
        <p>
          Немає пов'язаних нотаток.
        </p>
      </div>
      {% endif %}
    </side>
  </div>
</article>

<!-- <hr>

<p>Here are all the notes in this garden, along with their links, visualized as a graph.</p>

{% include notes_graph.html %} -->
